.mon-parchment  {

}
.mon-handwritten  {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-size: 1.3em;
  font-weight: 500;
  font-style: normal;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 5px 15px 5px 15px;
  background-color: SeaShell;
}
.mon-block  {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 5px 15px 5px 15px;
  border-right: 2px solid;
  border-left: 2px solid;
}

section.mon-gmnote::before {
  content: "GM Note";
  font-weight: 600;
  font-size: 1.3rem;
  font-family: var(--dnd5e-font-modesto);
}

section.mon-read-aloud::before {
  content: "Read Aloud: ";
  font-weight: 600;
  font-size: 1.3rem;
  font-family: var(--dnd5e-font-modesto);
}

.mon-gmnote {
  background-color: Yellow;
  padding: 5px 15px 5px 15px;
}

.mon-read-aloud {
  background-color: LightGoldenRodYellow;
  font-size: 1.25rem;
}

.mon-description {
  background-color: LightBlue;
}

.mon-character > h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

.mon-creature {
  background-color: Brown;
  color: White;
}


.mon-check {
  font-weight: 700;
  background-color: MediumVioletRed;
  color: White;
}

.mon-save {
  font-weight: 700;
  background-color: Red;
  color: White;
}

.mon-spell {
  font-weight: 700;
  background-color: Blue;
  color: White;
}
